<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Álgebra Estudio</title>
</head>
<body>
    <center><h1>Álgebra Estudio</h1>
    <section>
        <h2>1. Lenguaje algebraico</h2>
    </section>
    <section>
        <h2>2. Operaciones fundamentales con polinomios</h2><li><a href="{{ url_for('nivel1') }}">(clic para operaciones con polinomios)</a> </br></a></li>
    </section>
    <section>
        <h2>3. Fracciones</h2>
    </section>
    <section>
        <h2>4. Exponentes y radicales</h2>
    </section>
    <section>
        <h2>5. Ecuaciones de primer grado</h2>
    </section>
    <section>
        <h2>6. Sistema de ecuaciones de primer grado con dos incógnitas</h2>
    </section></center> 
</body>
</html>