<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">---fuente letra 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de jerarquía matemática">
    <title>Jerarquía Matemática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jera.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/jer.jpg') }}" alt="fondo" width="100%" height="200px">
    <header>
        <h1>Jerarquía Matemática</h1>
    </header>
    <ul>
        <table border="1">                   <!--.........TABLA EMPEIZA AQUI-->
            <thead>
                <th>JERARQUIZACION <center>Jerarquización ◄ </center></th>
                <tr> <nav>  <ul>
                    <th>Que es jerarquización? </th>
                    <th>Jerarquia: </th>
                    <th>Para qué sirve?</th>
                    <th>Por que se utiliza?</th>
                </tr>
                <tr> <nav>  <ul>
                    <th>Orden correcto en que se interpretan expresiones aritmeticas que contienen varias operaciones</th>
                    <th>1=Signos de agrupación<br>
                    2=Potencias y raíces<br>
                    3=Multiplicación y división<br>
                    4=Suma y resta<br></th>
                    <th>ayuda a mantener un orden lógico en los cálculos matemáticos, garantizando la precisión de los resultados</th>
                    <th>para asegurar que al resolver una expresión matemática con multiples operaciones, se obtenga un resultado único y correcto.</th>
                </tr>
                </tr>
            </thead>
            <tbody>



    </ul>








    <main>
        <section>
            <h2>Introducción</h2>
            <p>Contenido introductorio sobre la jerarquía matemática.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Sara. Todos los derechos reservados.</p>
    </footer>
</body>
</html>